



@media screen and (max-width:700px){
    
   
   

.header_inner{
    width: 374px;
    // max-width: 100%; 
    // box-sizing: border-box;
    // margin: 0;
    // padding: 0;
    height: 140px;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    box-shadow: 5px 5px 10px black;

    .nav_list{
         
        list-style: none;
        display: block; 
        margin-right: 20px;   
        
    }
    .nav_list_item{
        font-size: 11px;
        // padding: 0 35px;
        font-weight: bold;
        text-transform: capitalize;
        color: black; 
        cursor: pointer;
        transition: 0.5s;
        text-shadow: 3px 3px 7px white;
        border-right: 1px solid white;
        letter-spacing: 2px;
        
        &:hover{
            background-color: black;
            color: white;
            border-radius: 20px;
        }
     }
     
     .logo_title{
         margin-left: 20px; 
         font-size: 20px;
         color: gray;      
     }

}
.main{
    .main_text{
        display: none;
    }
}
.second_nav{

.second_nav_list{
    font-size: 13px;
    display:flex;
    flex-direction: column;
}

}
.section{
    
    .images_container{
        display: flex;
        flex-direction:column;
      
    }
    
    .img_cont_first{
        width: 200px;
        margin-left: 150px;
    }
    .big_img{
        width: 200px;
        height: 100px;
    }
    .big_img_2{
        width: 200px;
        height: 200px;
    }
    .img_cont_second{
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        position: relative;
        
        
    }
    .sami_foto{
        width: 200px;
        height: 120px;
        
    }

}


}  